<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Tache Management</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/taches">Tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-tache">Add Task</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/calcul-montant">Calculate Amounts</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>